# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea

# Build artifacts
/build
dream
!assets/jetbrains/src/main/java/com/dream
!assets/jetbrains/src/main/kotlin/com/dream
!assets/jetbrains/src/test/kotlin/com/dream
output.c

# Zig
.zig-cache
zig-out/
*.pdb
zig-cache/
# IDE builds and packages
idea/gradle/wrapper/gradle-wrapper.jar
idea/build/
vscode/*.vsix
/idea/.idea
/idea/.gradle
src/lexer/lexer.c
